*{
    padding: 0;
    margin: 0;
    font-family: Georgia;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    transition: 0.4s;
}
a:hover{
    color: rgb(253, 52, 52);
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;

}

#navbar h2{
    color: #fff;
}
#navbar{
    background-color: rgb(253, 52, 52);


    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;

}
#nav-links{
    display: flex;
    gap: 1rem;
}

.container{
    display: flex;
    padding: 2 rem 2.5rem;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container{
    flex:3 1 0 ;
}
.post{
    margin-bottom: 2.rem;
}
.post img{
    width: 100%;
    margin-bottom: 1rem;
}
#img1{
    width: 77.7%;
}
#img2{
    width: 77.7%;
}
#img3{
    width:77.3%
}

.title,
.description,
.author{
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
}

/* barra lateral */

#siderbar{
    flex: 1 1 0;
}

#search-bar h4,
#categories h4,
#tags h4 {

    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form{

    display: flex;
}

#search-bar input{
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;

}

#search-bar input[type="submit"]{
    cursor: pointer;
    background-color: rgb(236, 42, 42);
    color: #fff;
    border: none;
}

#categories li{
    margin-bottom: 1px;
}

.tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
#tags h4{
    position: relative;
    top: 80px;
}


.tags-container a{
    background-color: rgb(236, 42, 42);
    margin: 3px;
    color: white;
    border: 1px solid red;
    border-radius: 3px;
    padding: 0.4rem 0.6rem;
    position: relative;
    top: 100px;
 
}
.tags-container a:hover{
    background-color: #fff;
    color: rgb(236, 42, 42);

}
#categories{
    left: -2px;
    margin: 6px;
    position: relative;
    top: 20px;
}
#categories h4{
    border: #fff 1px solid;
    color: black;
}   

 #categories a{
    color: rgb(236, 42, 42);
    margin: 3px;
    background-color: #fff ;
    border-radius: 3px;
    padding: 0.4rem 0.6rem;
    display: flex;
    margin-top: 3px;
} 


/* Rodapé */

#footer{
    border-top: 2px solid #ddd;
    padding: 1rem;
    text-align: center;
}

#footer h2,
#footer p{
    margin-bottom: 1rem;

}

@media(max-width: 450px){
    .container{
        flex-wrap: wrap;
    }
   #footer{
    position: relative;
    top: 100px;
   }
   
   #navbar h2{
    position: relative;
    left: -20px;    
   }
   
}